<div class="organizer-card-small">
  <img src="{{ '/assets/img/' | append: organizer.image }}" alt="{{ organizer.name }}">
  <div class="organizer-info-small">
    {% if organizer.link %}
      <strong><a href="{{ organizer.link }}" target="_blank" rel="noopener">{{ organizer.name }}</a></strong>
    {% else %}
      <strong>{{ organizer.name }}</strong>
    {% endif %}
    <small>{{ organizer.affiliation }}</small>
  </div>
</div>